<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.coin.mapper.TblColdCoinAddressMapper">
    
    <resultMap type="TblColdCoinAddress" id="TblColdCoinAddressResult">
        <result property="coinId"    column="coin_id"    />
        <result property="coinType"    column="coin_type"    />
        <result property="used"    column="used"    />
        <result property="usedby"    column="usedby"    />
        <result property="cryCoinAddress"    column="cry_coin_address"    />
    </resultMap>

    <sql id="selectTblColdCoinAddressVo">
        select coin_id, coin_type, used, usedby, cry_coin_address from tbl_cold_coin_address
    </sql>

    <select id="selectTblColdCoinAddressList" parameterType="TblColdCoinAddress" resultMap="TblColdCoinAddressResult">
        <include refid="selectTblColdCoinAddressVo"/>
        <where>  
            <if test="coinType != null  and coinType != ''"> and coin_type = #{coinType}</if>
            <if test="used != null  and used != ''"> and used = #{used}</if>
            <if test="usedby != null "> and usedby = #{usedby}</if>
            <if test="cryCoinAddress != null  and cryCoinAddress != ''"> and cry_coin_address = #{cryCoinAddress}</if>
        </where>
    </select>
    
    <select id="selectTblColdCoinAddressByCoinId" parameterType="Long" resultMap="TblColdCoinAddressResult">
        <include refid="selectTblColdCoinAddressVo"/>
        where coin_id = #{coinId}
    </select>

    <insert id="insertTblColdCoinAddress" parameterType="TblColdCoinAddress">
        insert into tbl_cold_coin_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coinId != null">coin_id,</if>
            <if test="coinType != null">coin_type,</if>
            <if test="used != null">used,</if>
            <if test="usedby != null">usedby,</if>
            <if test="cryCoinAddress != null">cry_coin_address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coinId != null">#{coinId},</if>
            <if test="coinType != null">#{coinType},</if>
            <if test="used != null">#{used},</if>
            <if test="usedby != null">#{usedby},</if>
            <if test="cryCoinAddress != null">#{cryCoinAddress},</if>
         </trim>
    </insert>

    <update id="updateTblColdCoinAddress" parameterType="TblColdCoinAddress">
        update tbl_cold_coin_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="coinType != null">coin_type = #{coinType},</if>
            <if test="used != null">used = #{used},</if>
            <if test="usedby != null">usedby = #{usedby},</if>
            <if test="cryCoinAddress != null">cry_coin_address = #{cryCoinAddress},</if>
        </trim>
        where coin_id = #{coinId}
    </update>

    <delete id="deleteTblColdCoinAddressByCoinId" parameterType="Long">
        delete from tbl_cold_coin_address where coin_id = #{coinId}
    </delete>

    <delete id="deleteTblColdCoinAddressByCoinIds" parameterType="String">
        delete from tbl_cold_coin_address where coin_id in 
        <foreach item="coinId" collection="array" open="(" separator="," close=")">
            #{coinId}
        </foreach>
    </delete>

</mapper>