<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.notify.balOperate.mapper.TblNotifyBalanceOperateMapper">
    
    <resultMap type="TblNotifyBalanceOperate" id="TblNotifyBalanceOperateResult">
        <result property="id"    column="id"    />
        <result property="channelNo"    column="channel_no"    />
        <result property="platformId"    column="platform_id"    />
        <result property="channelTransId"    column="channel_trans_id"    />
        <result property="cardNo"    column="card_no"    />
        <result property="status"    column="status"    />
        <result property="channelRespStatus"    column="channel_resp_status"    />
        <result property="channelRespMsg"    column="channel_resp_msg"    />
        <result property="operateType"    column="operate_type"    />
        <result property="currency"    column="currency"    />
        <result property="channelFee"    column="channel_fee"    />
        <result property="respDate"    column="resp_date"    />
        <result property="respTime"    column="resp_time"    />
        <result property="createdAt"    column="created_at"    />
        <result property="rsv1"    column="rsv1"    />
        <result property="rsv2"    column="rsv2"    />
    </resultMap>

    <sql id="selectTblNotifyBalanceOperateVo">
        select id, channel_no, platform_id, channel_trans_id, card_no, status, channel_resp_status, channel_resp_msg, operate_type, currency, channel_fee, resp_date, resp_time, created_at, rsv1, rsv2 from tbl_notify_balance_operate
    </sql>

    <select id="selectTblNotifyBalanceOperateList" parameterType="TblNotifyBalanceOperate" resultMap="TblNotifyBalanceOperateResult">
        <include refid="selectTblNotifyBalanceOperateVo"/>
        <where>  
            <if test="channelNo != null  and channelNo != ''"> and channel_no = #{channelNo}</if>
            <if test="platformId != null  and platformId != ''"> and platform_id = #{platformId}</if>
            <if test="channelTransId != null  and channelTransId != ''"> and channel_trans_id = #{channelTransId}</if>
            <if test="cardNo != null  and cardNo != ''"> and card_no = #{cardNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="channelRespStatus != null  and channelRespStatus != ''"> and channel_resp_status = #{channelRespStatus}</if>
            <if test="channelRespMsg != null  and channelRespMsg != ''"> and channel_resp_msg = #{channelRespMsg}</if>
            <if test="operateType != null  and operateType != ''"> and operate_type = #{operateType}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
            <if test="channelFee != null "> and channel_fee = #{channelFee}</if>
            <if test="respDate != null  and respDate != ''"> and resp_date = #{respDate}</if>
            <if test="respTime != null "> and resp_time = #{respTime}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="rsv1 != null  and rsv1 != ''"> and rsv1 = #{rsv1}</if>
            <if test="rsv2 != null  and rsv2 != ''"> and rsv2 = #{rsv2}</if>
        </where>
    </select>
    
    <select id="selectTblNotifyBalanceOperateById" parameterType="Long" resultMap="TblNotifyBalanceOperateResult">
        <include refid="selectTblNotifyBalanceOperateVo"/>
        where id = #{id}
    </select>

    <select id="selectTblNotifyBalanceOperateByTranId" resultMap="TblNotifyBalanceOperateResult">
        <include refid="selectTblNotifyBalanceOperateVo"/>
        where platform_id = #{ttId}
    </select>

    <insert id="insertTblNotifyBalanceOperate" parameterType="TblNotifyBalanceOperate">
        insert into tbl_notify_balance_operate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="channelNo != null">channel_no,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="channelTransId != null">channel_trans_id,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="status != null">status,</if>
            <if test="channelRespStatus != null">channel_resp_status,</if>
            <if test="channelRespMsg != null">channel_resp_msg,</if>
            <if test="operateType != null">operate_type,</if>
            <if test="currency != null">currency,</if>
            <if test="channelFee != null">channel_fee,</if>
            <if test="respDate != null">resp_date,</if>
            <if test="respTime != null">resp_time,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="rsv1 != null">rsv1,</if>
            <if test="rsv2 != null">rsv2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="channelNo != null">#{channelNo},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="channelTransId != null">#{channelTransId},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="status != null">#{status},</if>
            <if test="channelRespStatus != null">#{channelRespStatus},</if>
            <if test="channelRespMsg != null">#{channelRespMsg},</if>
            <if test="operateType != null">#{operateType},</if>
            <if test="currency != null">#{currency},</if>
            <if test="channelFee != null">#{channelFee},</if>
            <if test="respDate != null">#{respDate},</if>
            <if test="respTime != null">#{respTime},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="rsv1 != null">#{rsv1},</if>
            <if test="rsv2 != null">#{rsv2},</if>
         </trim>
    </insert>

    <update id="updateTblNotifyBalanceOperate" parameterType="TblNotifyBalanceOperate">
        update tbl_notify_balance_operate
        <trim prefix="SET" suffixOverrides=",">
            <if test="channelNo != null">channel_no = #{channelNo},</if>
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="channelTransId != null">channel_trans_id = #{channelTransId},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="channelRespStatus != null">channel_resp_status = #{channelRespStatus},</if>
            <if test="channelRespMsg != null">channel_resp_msg = #{channelRespMsg},</if>
            <if test="operateType != null">operate_type = #{operateType},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="channelFee != null">channel_fee = #{channelFee},</if>
            <if test="respDate != null">resp_date = #{respDate},</if>
            <if test="respTime != null">resp_time = #{respTime},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="rsv1 != null">rsv1 = #{rsv1},</if>
            <if test="rsv2 != null">rsv2 = #{rsv2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTblNotifyBalanceOperateById" parameterType="Long">
        delete from tbl_notify_balance_operate where id = #{id}
    </delete>

    <delete id="deleteTblNotifyBalanceOperateByIds" parameterType="String">
        delete from tbl_notify_balance_operate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>