//移动端
@media screen and (max-width: 600px) {
    .res-login-header {
        display: block !important;
        width: calc(100% - 10px);
        height: 44px;
        line-height: 44px;
        position: absolute;
        top: 0;
        z-index: 1;
        background: transparent;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        color: #000;
        cursor: pointer;

        .type {
            position: absolute;
            top: 12px;
            left: 16px;
        }
    }

    .pc {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
        background: #fff;
        padding: 16px;
        overflow: auto;
    }
}


@media screen and (min-width: 600px) {
    .pc {
        width: 602px;
        margin: 60px auto;
        border-radius: 14px;
        background: #fff;
        padding: 34px 32px 9px;
    }
}
