<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.TblUserChannelMappingMapper">
    
    <resultMap type="TblUserChannelMapping" id="TblUserChannelMappingResult">
        <result property="ucmId"    column="ucm_id"    />
        <result property="uiId"    column="ui_id"    />
        <result property="ciId"    column="ci_id"    />
        <result property="ucmNo"    column="ucm_no"    />
    </resultMap>

    <sql id="selectTblUserChannelMappingVo">
        select ucm_id, ui_id, ci_id, ucm_no from tbl_user_channel_mapping
    </sql>

    <select id="selectTblUserChannelMappingList" parameterType="TblUserChannelMapping" resultMap="TblUserChannelMappingResult">
        <include refid="selectTblUserChannelMappingVo"/>
        <where>  
            <if test="uiId != null "> and ui_id = #{uiId}</if>
            <if test="ciId != null "> and ci_id = #{ciId}</if>
            <if test="ucmNo != null  and ucmNo != ''"> and ucm_no = #{ucmNo}</if>
        </where>
    </select>
    
    <select id="selectTblUserChannelMappingByUcmId" parameterType="Long" resultMap="TblUserChannelMappingResult">
        <include refid="selectTblUserChannelMappingVo"/>
        where ucm_id = #{ucmId}
    </select>

    <insert id="insertTblUserChannelMapping" parameterType="TblUserChannelMapping">
        insert into tbl_user_channel_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ucmId != null">ucm_id,</if>
            <if test="uiId != null">ui_id,</if>
            <if test="ciId != null">ci_id,</if>
            <if test="ucmNo != null">ucm_no,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ucmId != null">#{ucmId},</if>
            <if test="uiId != null">#{uiId},</if>
            <if test="ciId != null">#{ciId},</if>
            <if test="ucmNo != null">#{ucmNo},</if>
         </trim>
    </insert>

    <update id="updateTblUserChannelMapping" parameterType="TblUserChannelMapping">
        update tbl_user_channel_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="uiId != null">ui_id = #{uiId},</if>
            <if test="ciId != null">ci_id = #{ciId},</if>
            <if test="ucmNo != null">ucm_no = #{ucmNo},</if>
        </trim>
        where ucm_id = #{ucmId}
    </update>

    <delete id="deleteTblUserChannelMappingByUcmId" parameterType="Long">
        delete from tbl_user_channel_mapping where ucm_id = #{ucmId}
    </delete>

    <delete id="deleteTblUserChannelMappingByUcmIds" parameterType="String">
        delete from tbl_user_channel_mapping where ucm_id in 
        <foreach item="ucmId" collection="array" open="(" separator="," close=")">
            #{ucmId}
        </foreach>
    </delete>

</mapper>