<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.risk.mapper.TblOperatorCardMapper">
    
    <resultMap type="TblOperatorCard" id="TblOperatorCardResult">
        <result property="id"    column="ID"    />
        <result property="cardNo"    column="CARD_NO"    />
        <result property="statuss"    column="STATUSS"    />
        <result property="operType"    column="OPER_TYPE"    />
        <result property="operUser"    column="OPER_USER"    />
        <result property="operTime"    column="OPER_TIME"    />
    </resultMap>

    <sql id="selectTblOperatorCardVo">
        select ID, CARD_NO, OPER_TYPE, STATUSS, OPER_USER, OPER_TIME from TBL_OPERATOR_CARD
    </sql>

    <select id="selectTblOperatorCardList" parameterType="TblOperatorCard" resultMap="TblOperatorCardResult">
        <include refid="selectTblOperatorCardVo"/>
        <where>  
            <if test="cardNo != null  and cardNo != ''"> and CARD_NO = #{cardNo}</if>
            <if test="operType != null  and operType != ''"> and OPER_TYPE = #{operType}</if>
            <if test="statuss != null  and statuss != ''"> and STATUSS = #{statuss}</if>
            <if test="operUser != null  and operUser != ''"> and OPER_USER = #{operUser}</if>
            <if test="operTime != null "> and date_format(OPER_TIME,'%Y%m%d') = date_format(#{operTime},'%Y%m%d')</if>
        </where>
    </select>
    
    <select id="selectTblOperatorCardByID" parameterType="Long" resultMap="TblOperatorCardResult">
        <include refid="selectTblOperatorCardVo"/>
        where ID = #{ID}
    </select>

    <insert id="insertTblOperatorCard" parameterType="TblOperatorCard" useGeneratedKeys="true" keyProperty="ID">
        insert into TBL_OPERATOR_CARD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardNo != null">CARD_NO,</if>
            <if test="operType != null">OPER_TYPE,</if>
            <if test="statuss != null">STATUSS,</if>
            <if test="operUser != null">OPER_USER,</if>
            <if test="operTime != null">OPER_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardNo != null">#{cardNo},</if>
            <if test="operType != null">#{operType},</if>
            <if test="statuss != null">#{statuss},</if>
            <if test="operUser != null">#{operUser},</if>
            <if test="operTime != null">#{operTime},</if>
         </trim>
    </insert>

    <update id="updateTblOperatorCard" parameterType="TblOperatorCard">
        update TBL_OPERATOR_CARD
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardNo != null">CARD_NO = #{cardNo},</if>
            <if test="operType != null">OPER_TYPE = #{operType},</if>
            <if test="statuss != null">STATUSS = #{statuss},</if>
            <if test="operUser != null">OPER_USER = #{operUser},</if>
            <if test="operTime != null">OPER_TIME = #{operTime},</if>
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deleteTblOperatorCardByID" parameterType="Long">
        delete from TBL_OPERATOR_CARD where ID = #{ID}
    </delete>

    <delete id="deleteTblOperatorCardByIDs" parameterType="String">
        delete from TBL_OPERATOR_CARD where ID in 
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

</mapper>